@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Album = (Website.Models.AlbumUploadModel)Model;
}
<div class="starryBackground">
    <div class="container-fluid">
        <nav aria-label="breadcrumb" style="background:rgb(0,0,0,0)">
            <ol class="breadcrumb" style="background:rgb(0,0,0,0)">
                <li class="breadcrumb-item"><a href='@Url.Action("Index", "Home")'>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Album Save failed</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col align-content-md-center">
                <h1 class="badge-danger">"@Album.AlbumName" saved</h1>
                <table>
                    @foreach (var item in Album.Files)
                    {
                        <tr>
                            <td>@Path.GetFileName(item.FileName)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="stars"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
    </div>
</div>
