<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Identifiers"  type="Logics.Configuration.IdentifiersSection, Logics"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="From" value="C:\Personal\Dishi\Math\CK"/>
    <add key="To" value="C:\Personal\Dishi\output"/>
    <add key="CustomWorkSheetName" value="new"/>
  </appSettings>
  <Identifiers>
    <Settings>
      <IdentifierSetting Name="ReelStripIdentifiers" XPath="/GameMath/ReelStripList/ReelStrip/Identifier" />
      <IdentifierSetting Name="BonusInfoIdentifiers" XPath="/GameMath/BonusInfo/WeightedTableList/WeightedTable/Identifier"/>
      <IdentifierSetting Name="MysteryInfoIdentifiers" XPath="GameMath/MysteryReplacementInfo/ReplacementWeightTableList/ReplacementWeightTable"  IdentifierInAttribute="True" AttributeName="replacementWeightTableID"/>
    </Settings>
  </Identifiers>
</configuration>