@import "../../common";

:host {
  display: block;
  
  .modal-container {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  }
}
