<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--put blank space if empty-->
    <add key="users" value="admin:admin;"/>
    <add key="CompanyName" value="CHHATTISGARH NEWS MEDIA AND ENTERTAINMENT"/>
    <add key="BankName" value="PUNJAB NATIONAL BANK ,RAIPUR"/>
    <add key="BranchNumber" value="296600"/>
    <add key="AccountNumber" value="399000400212574"/>
    <add key="IFSCCode" value="PUNB0296600"/>
    <add key="PANCode" value="AGGPR2905M"/>
    <add key="GSTNo" value=" "/>
    <add key="BillSavePath" value="..\Bills\"/>
    <add key="LogsFolderName" value="Logs"/>
    <add key="TemplateName" value="Template1.xlsx"/>
    <add key="LogsBasePath" value="..\Logs\"/>
  </appSettings>
</configuration>