<div id="introduction">
    <br />
    <div class="image-box" style="--image-url:url(/images/getimage/6);">
        <div class="container-fluid">
            <nav aria-label="breadcrumb" style="background-color:black">
                <ol class="breadcrumb" style="background-color:black">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#introduction">AboutUs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Introduction</li>
                </ol>
            </nav>
            <!--Start Introduction Section-->
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h1 class="text-center">Introduction</h1>
                    <br />
                    <br />
                    <p>
                        Chhattisgarh Vigyan Sabha (CGVS) is a registered <i>(regno - CGstate-459 dated 10.12.2003)</i> non government organization, committed to generate scientific temperament among the people for better living and environment.
                        We have a registered team of scientists, Doctors, Engineers, Social Scientists, Academicians, folk artists, teachers and students from all over the Chhattisgarh state and from other parts of India as well.
                        We have local units in all the districts with an executive committee at to plan and conduct activities at the local level with thousands of volunteers accounting more than 1000 members from all over the state.
                    </p>
                    <br />
                    <p>
                        The Vigyan Sabha is also supported by other part time science activists. The CGVS is a peoples science movement active in the state since its inception.
                        The CGVS aims at concrete analysis of the impact of science on society. Its role in socio economic and political context to increase scientific input in development of planning and self reliant peoples science movement for scientific temperament and awareness towards science and technology to work for world peace,
                        conservation of environment and eco-system, conduct seminars, exhibitions, competitions and generate peoples science movement.
                        The CGVS is governed by an elected executive council for a period of two years. It also has its elected district level units.
                    </p>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <br />
            <br />
        </div>
    </div>
    <div id="ideology">
        <br />
        <div class="image-box" style="--image-url:url(/images/getimage/6);">

            <div class="container-fluid">
                <nav aria-label="breadcrumb" style="background-color:black">
                    <ol class="breadcrumb" style="background-color:black">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#introduction">AboutUs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Idealogy</li>
                    </ol>
                </nav>
                <!--Start Ideology Section-->
                <div class="row">

                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">

                        <h1 class="text-center">Our Idealogy</h1>
                        <br />
                        <br />
                        <p>
                            CGVS has attempted to bridge the three divides: Knowledge Divide, Economic Divide and Social Divide in the society through its programs.
                            We started with attempts to bridge the knowledge Divide but became increasingly involved in closing Economy Divide and Social Divide too.
                            What started with an aim to spread awareness on <a href="https://en.wikipedia.org/w/index.php?title=Bhopal_disaster&oldid=932587917" class="alert-link"> Bhopal gas tragedy</a>,
                            spreading awareness about its root cause and future prevention by going door to door between the rural and urban communities in former Madhya Pradesh( Now divided into Madhya Pradesh and Chhattisgarh <a href="https://en.wikipedia.org/w/index.php?title=Madhya_Pradesh_Reorganisation_Act,_2000&oldid=917800363" class="alert-link">in 2000</a>),
                            has now spreaded its domains to demolishing superstition, creating general scientific temperament in rural and tribal India, mainly contributing to Chhattisgarh state. <br />

                            Spreading scientific knowledge and scientific world vision amongst the people, working for literacy, continuing education, basic education, policy studies etc. are to close the Knowledge Divide.
                            Efforts in watershed management, technology development, local area planning, formation of Self Help Groups, development of micro enterprises etc. are efforts to close Economic Divide.
                            Children's Science Festivals, Women Science (Samata) Festivals, Gyan Vigran Vidyalaya (Wisdom Schools) Movement etc. all are efforts to bridge the Social Divide
                        </p>
                        <ul style="font-size:20px">
                            Some of the regular activities done by CGVS are:
                            <li>Spreading scientific knowledge and scientific world vision amongst the people by organizing regular conventions and meetups in rural areas</li>
                            <li>Working for literacy among rural and Tribal areas by organizing reading events and Volenteering for teaching</li>
                            <li>Urging people to continue education and developing a curiosity by organizing sky watching and day time astronomy camps</li>
                            <li>Volunteering in development of goverment institutions and facilitating the resources by contacting the required personalities in the scientific community.</li>
                            <li>Organizing workshops, training camps for leather works, organic farming, greenhouse development etc</li>
                            <li>Organizing regular Science festivals to increase involvement of society for increasing scientific temperament</li>
                        </ul>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <!--End Ideology Section-->
            </div>
        </div>
    </div>
    <div id="family">
        <br />
        <div class="image-box" style="--image-url:url(/images/getimage/6);">
            <div class="container-fluid">
                <nav aria-label="breadcrumb" style="background-color:black">
                    <ol class="breadcrumb" style="background-color:black">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#introduction">AboutUs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Family</li>
                    </ol>
                </nav>
                <!--Start Family Section-->
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <h1 class="text-center">Our Family</h1>
                        @Html.Partial("comingSoon");
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <!--End Family Section-->
            </div>
        </div>
    </div>
    <div id="presidents">
        <br />
        <div class="image-box" style="--image-url:url(/images/getimage/6)">
            <div class="container-fluid">
                <nav aria-label="breadcrumb" style="background-color:black">
                    <ol class="breadcrumb" style="background-color:black">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#introduction">AboutUs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Members of Executive Committee</li>
                    </ol>
                </nav>
                <!--Start  Presidents Section-->
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <h1 class="text-center">Members of Executive Committee</h1>
                        @Html.Partial("comingSoon");
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <!--End Presidents Section-->
            </div>
        </div>
    </div>
</div>
