<div id="activities">
    <div id="blogs">
        <!--Start Blogs-->
        <div class="image-box" style="--image-url:url(/images/getimage/9);">
            <div class="container-fluid">
                <nav aria-label="breadcrumb" style="background : rgb(0,0,0,0.3);">
                    <ol class="breadcrumb" style="background: rgb(20,20,20,0.2)">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#activities">Activities</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <h1 class="text-center">Blogs</h1>
                        @Html.Partial("comingSoon");
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="content" class="artical align-content-lg-center align-self-lg-center align-items-center">
                            @*<object type="text/html" data="https://www.google.com/" width=inherit height=inherit style="overflow:auto;border:5px ridge blue">
                                </object>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End blogs-->
    </div>
    <br />
    <div id="discussions">
        <div class="image-box" style="--image-url:url(/images/getimage/9);">
            <!--Start Discussion-->
            <div class="container-fluid">
                <nav aria-label="breadcrumb" style="background-color : rgb(0,0,0,0.3);">
                    <ol class="breadcrumb" style="background-color : rgb(20,20,20,0.2)">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#activities">Activities</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Group Discussions and Forums</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h1 class="text-center">Group Discussions and Forums</h1>
                        @Html.Partial("comingSoon");
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <!--End Discussion-->
    </div>
    <br />
    <div id="quiz">
        <!--Start Quiz-->
        <div class="image-box" style="--image-url:url(/images/getimage/9);">
            <div class="container-fluid">
                <nav aria-label="breadcrumb" style="background-color : rgb(0,0,0,0.3);">
                    <ol class="breadcrumb" style="background-color : rgb(20,20,20,0.2)">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#activities">Activities</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Quiz</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h1 class="text-center">Quiz</h1>
                        @Html.Partial("comingSoon");
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <!--End Quiz-->
    </div>
</div>
