
@{
    ViewBag.Title = "show claus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="row">
                <img src="./image/getimage/1" width="600" height="500"/>
                <p class="center-block" style="align-self:center">My name is Claus.</p>
                <p class="center-block">Santa Claus.</p>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

