
<br />
<div class="starryBackground">
    <div class="container-fluid">
        <nav aria-label="breadcrumb" style="background:rgb(0,0,0,0)">
            <ol class="breadcrumb" style="background:rgb(0,0,0,0)">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
            </ol>
        </nav>
        <!--Start Ideology Section-->
        <div class="row">
            <div class="col-sm-12">
                <div id="galleryStart"></div>
            </div>
        </div>
        <div class="stars"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
        <!--End Ideology Section-->
    </div>
</div>

