@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato',sans-serif;
    color: #505962;
    background-color: dimgrey;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6) !important;
}

.navbar-brand img {
    height: 3rem;
}

.navbar-brand span {
    color: #ffffff;
}

.navbar-nav li {
    padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: 0.8rem;
}

    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: darkgrey;
    }

.image-box {
    /* Here's the trick */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--image-url) center center no-repeat fixed;
    background-size: cover;
    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .image-box p {
        font-size: 22px;
        text-align: center;
    }

        .image-box p i {
            font-size:12px;
        }
        .image-box p a{
            color:snow;
        }
    .image-box #CommingSoonImage {
        background: var(--image-url) center center no-repeat round;
        background-size: 535px,535px;
        min-height: 505px;
        min-width: 505px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
#activities .image-box {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), var(--image-url) center center no-repeat fixed;
    background-size: cover;
    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}